/* =================================== COLORS =================================== */
:root {
  --color-white: #f6f5fc;
  --color-black: #051014;
  --color-grey: #6C6C6C;
  --color-blue: #3772FF;
}

/* =================================== GLOBAL FONT - DIATYPE =================================== */
@font-face {
  font-family: "Diatype";
  src: url("Fonts/ABCDiatype-Light-Trial.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Diatype";
  src: url("Fonts/ABCDiatype-LightItalic-Trial.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Diatype";
  src: url("Fonts/ABCDiatype-Regular-Trial.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Diatype";
  src: url("Fonts/ABCDiatype-RegularItalic-Trial.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Diatype";
  src: url("Fonts/ABCDiatype-Medium-Trial.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Diatype";
  src: url("Fonts/ABCDiatype-MediumItalic-Trial.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Diatype";
  src: url("Fonts/ABCDiatype-Bold-Trial.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Diatype";
  src: url("Fonts/ABCDiatype-BoldItalic-Trial.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}


/* =================================== GLOBAL RESET =================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, p, h1, h2, h3, h4, a, li, button {
  font-family: "Diatype", sans-serif;
  color: var(--color-black);
  background-color: var(--color-white);
}

body {
  padding: 50px;
}

.custom-cursor-page {
    cursor: none;
}

.custom-cursor-enabled * {
    cursor: none !important;
}

/* =================================== NAVIGATION =================================== */

.nav-container {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 20px;
  list-style: none;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

.nav1 {
  font-weight: 700;
  font-size: 14pt;
  line-height: 14pt;
}

.nav2 {
  font-weight: 400;
  font-size: 14pt;
  line-height: 14pt;
  height: 100%;
}

.nav2:hover {
  text-decoration: underline;
}

.nav-contact-button {
  display: inline-flex;
  padding: 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background: var(--color-black);
  color: var(--color-white);
  font-weight: 700;
  font-size: 14pt;
  line-height: 14pt;
  border: 2px solid transparent; 
}

.nav-contact-button:hover {
  background: var(--color-white); 
  color: var(--color-blue);
  border: 2px solid var(--color-blue);
  text-decoration: none; 
}


/* =================================== STROKE + BOX LAYOUT =================================== */
.layout-row {
position: relative;
margin-top: 80px;
display: flex;
align-items: flex-start;
min-height: 800px;
}

.stroke {
width: 320px;
height: 1px;
background-color: var(--color-black);
margin-bottom: 0px;
position: relative;
}

.box-link {
display: block;
flex: 1;
margin-left: 20px;
position: relative;
height: 800px;
text-decoration: none;
cursor: pointer;
z-index: 0;
}

.highlight-box img {
position: absolute;
display: flex;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
display: block;
z-index: 0;
}

.text-overlay {
position: absolute;
top: 24px;
left: 0;
max-width: 320px;
display: flex;
flex-direction: column;
z-index: 1;
}

/* =================================== OVERLAY TEXT =================================== */

.text-overlay {
  position: absolute;
  top: 8px;
  left: 0;
  max-width: 320px;
  display: flex;
  flex-direction: column;
}

.text-overlay * {
  margin: 0;
  padding: 0;
}

.text-overlay .c1 {
  font-weight: 400;
  font-size: 10pt;
  line-height: 12pt;
  margin-bottom: 8px;
  color: var(--color-grey);
}

.text-overlay .h4 {
  font-weight: 700;
  font-size: 20pt;
  line-height: 20pt;
  margin-bottom: 8px;
}

.text-overlay .p2 {
  font-weight: 400;
  font-size: 14pt;
  line-height: 18pt;
  margin-bottom: 40px;
}

.text-overlay .b2 {
  font-weight: 400;
  font-size: 12pt;
  line-height: 14pt;
}

.view-more {
  display: inline-flex; 
  align-items: center;
  text-decoration: none; 
}

.slanted-arrow {
  width: 10px; 
  height: 10px; 
  margin-left: 8px; 
}

.view-more:hover {
  color: var(--color-blue); 
  text-decoration: underline;
}

.view-more:hover .slanted-arrow {
  width: 10px;
  height: 10px;
}

.view-more:hover .slanted-arrow path {
  fill: var(--color-blue); 
}
/* =================================== TYPE SYSTEM =================================== */

.h1, h1 { font-weight: 700; font-size: 72pt; line-height: 64pt; }
.h2, h2 { font-weight: 700; font-size: 48pt; line-height: 48pt; }
.h3, h3 { font-weight: 700; font-size: 32pt; line-height: 32pt; }
.h4, h4 { font-weight: 700; font-size: 20pt; line-height: 20pt; }

.p1 { font-weight: 400; font-size: 16pt; line-height: 20pt; }
.p2 { font-weight: 400; font-size: 14pt; line-height: 18pt; }

.c1 { font-weight: 400; font-size: 10pt; line-height: 10pt; }

.b1 { font-weight: 700; font-size: 18pt; line-height: 18pt; }
.b2 { font-weight: 400; font-size: 12pt; line-height: 12pt; }


/* =================================== PROJECT PAGE LAYOUT =================================== */

.sketch-date {
  margin-top: 80px;      
  font-size: 10pt; 
  color: var(--color-grey); 
  font-weight: 400;
  max-width: 660px;
  margin-bottom: 8px;
}

.sketch-header {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  column-gap: 20px;
  align-items: start;                          
  flex-wrap: wrap;              
}

.left-title {
  text-align: left;
  max-width: 660px;    
  margin: 0;                 
}

.right-paragraph {
  margin-top: 0;          
  margin-left: auto;      
  text-align: left;      
  max-width: 660px;      
  margin-bottom: 0;
}

.full-stroke {
  width: 100%;
  height: 1px;
  background-color: var(--color-black);
  margin: 80px 0 0 0;            
}

#sketch-container {
  display: flex;
  justify-content: center;
  margin-top: 80px;              
  padding: 20px;
  background-color: var(--color-white);
  border: 1px solid #ddd;
}

#sketch-container canvas {
  display: block;
}

/* =================================== ABOUT PAGE LAYOUT =================================== */

.about-main-content {
  padding-top: 80px; 
  display: grid;
  grid-template-columns: 5fr 6fr; 
  gap: 20px; 
  align-items: center;
  cursor: none; 
}

.image-wrapper {
  grid-column: 1 / 2;
  position: relative;
  width: 100%;
  height: 0; 
  padding-bottom: 120.66%; 
  overflow: hidden;
}

.about-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.text-content {
  grid-column: 3 / 3; 
  max-width: 660px;
  width: 100%; 
  justify-self: start; 
}

.title-about {
  text-align: left; 
  margin: 0;
  margin-bottom: 8px; 
}

.paragraph-about {
  max-width: 100%; 
  text-align: left;
  margin-bottom: 16px;
  margin-left: 0;
}

.paragraph-about:last-child {
  margin-bottom: 0;
}

/* =================================== CAT CURSOR =================================== */
#cursor-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    pointer-events: none;
}

/* =================================== FOOTER =================================== */

footer {
  text-align: left;
  margin-top: 80px;
  padding-top: 24px;
  border-top: 1px solid #051014;
  color: var(--color-black);
  font-size: 14pt;
  font-weight: 300;
}


